<mdui-card variant="fill" style="width: 100%;background-color: rgb(var(--mdui-color-primary-container));padding: 8px;">
    <div class="mdui-prose post" style="text-align: center;">
        <%if(theme.display_index_top.avatar){%>
            <mdui-avatar fit="contain" src="<%=theme.display_index_top.avatar%>" style="width: 128px;height: 128px;"></mdui-avatar>
        <%}%>
        <h1><%-markdown(config.title)%></h1>
        <h3><%-markdown(config.subtitle)%></h3>
        <%-markdown(theme.display_index_top.text)%>
    </div>
</mdui-card>
<br>
<% page.posts.each(function (post) { %>
    <%- partial('_partial/post-short',{post:post}) %>
        <br>
        <% }) %>
            <%- partial('_partial/paginator') %>