<mdui-card clickable variant="filled" href="<%- url_for(post.path) %>" 
    style="width:100%;">
    <%if(post.cover){%>
    <div style="width: 100%;height: 128px;background-repeat: space;background-size: 100% auto;background-image: url(<%-post.cover%>);">
    </div>
    <%}%>
    <div class="mdui-prose" style="padding: 16px;">
        <h1 style="margin-bottom: 8px;">
            <%= post.title %>
        </h1>
        <span class="post-date">
            <mdui-icon name="date_range" style="vertical-align: text-bottom;font-size: 18px;"></mdui-icon>
            <%= full_date(post.date) %> &nbsp; <mdui-icon name="update"
                    style="vertical-align: text-bottom;font-size: 18px;"></mdui-icon>
                <%= full_date(post.updated) %>
        </span>
        <br>
        <%if(post.categories){%><span><%=__("category")%> <% post.categories.each(function (cate) { %>
                    <!-- <mdui-chip href="<%- url_for(cate.path) %>" variant="filter" style="vertical-align: middle;">
                        <%= cate.name %>
                    </mdui-chip> -->
                    <a href="<%- url_for(cate.path) %>">
                        <%= cate.name %>
                    </a>
                    <% }); %>
            </span>
            <%}%>
                <%if(post.tags){%><span>| <%=__("tag")%> <% post.tags.each(function (tag) { %>
                        <a href="<%- url_for(tag.path) %>" variant="filter">
                            <%= tag.name %>
                        </a>
                        <% }); %></span>
                            <% }%>
        
                <p>
                    <%if(post.excerpt){%>
                        <%= strip_html(post.excerpt) %>
                            <%}else{%>
                                <%- truncate(strip_html(post.content),{length:100}) %>
                                    <%}%>
                </p>
    </div>
</mdui-card>